/* slider */
.product-slider .slick-dots {
  bottom: -75px;

  li {
    width: 75px;
    height: 75px;
    border: 2px solid transparent;
  }

  .slick-active {
    border: 2px solid #988ea4;
  }

  .slick-active {
    border: 2px solid #988ea4;
  }
}

@media screen and (max-width: 768px) {
  .product-slider {
    height: 310px;

    .slick-dots {
      bottom: -55px;

      li {
        width: 55px;
        height: 55px;
        border: 2px solid transparent;
      }
    }
  }
}

/* 模板 */
.object-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-detail {
  .fs-sml {
    font-size: smaller !important;
  }

  /* main */
  .form-select {
    background-color: #fff;
    height: 3rem !important;
    font-size: medium;
    padding-top: 18px !important;
  }

  .label-fs {
    font-size: medium;
    padding-top: 8px !important;
  }
}
