.product {
  // 模板
  .fs-sml {
    font-size: smaller !important;
  }
  .object-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .form-select {
    background-color: #fff;
    height: 3rem !important;
    font-size: medium;
    padding-top: 18px !important;
  }
  .label-fs {
    font-size: medium;
    padding-top: 8px !important;
  }

  // 商品列表
  // card 調整
  .card {
    width: 15rem;
    transition: 0.4s;
  }

  .product-img {
    height: 12rem;
  }

  .card-shadow {
    box-shadow: 0px 4px 10px 0px #10385b1f;
  }

  .card-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    border-radius: 0.225rem;
    transform: translateY(35px);

    button {
      opacity: 0;
    }
  }

  .card:hover {
    .card-btn {
      z-index: 2;
      opacity: 1;
      visibility: visible;

      button {
        opacity: 1;
      }
    }
  }

  .page li {
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    .product-img {
      height: 8rem;
    }
    .page li {
      font-size: small !important;
    }
  }

  // 商品細節
  // .product-slider {
  //   width: 41rem;
  //   height: 30rem;
  // }
  // @media screen and (max-width: 768px) {
  //   .product-slider {
  //     width: 24rem;
  //     height: 19rem;
  //   }
  // }
}

/* 商品細節 slider */
.product-slider {
  .product-slider-img {
    width: 100%;
    height: 26.5rem;
  }
  .slick-dots {
    bottom: -75px;

    li {
      width: 75px;
      height: 75px;
      border: 2px solid transparent;
    }

    .slick-active {
      border: 2px solid #988ea4;
    }

    .slick-active {
      border: 2px solid #988ea4;
    }
  }
}
@media screen and (max-width: 768px) {
  .product-slider {
    height: 310px;
    .product-slider-img {
      width: 100%;
      height: 15rem;
    }
    .slick-dots {
      bottom: -55px;

      li {
        width: 55px;
        height: 55px;
        border: 2px solid transparent;
      }
    }
  }
}
