.personal-store {
  .card {
    width: 15rem;
    transition: 0.4s;
  }

  .card-shadow {
    box-shadow: 0px 2px 10px 0px #10385b1f;
  }

  .card-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(45px);
    transition: 0.4s;
    border-radius: 0.225rem;
  }

  .card-btn {
    button {
      opacity: 0;
    }
  }

  .card:hover {
    .card-btn {
      z-index: 2;
      opacity: 1;

      button {
        opacity: 1;
      }
    }
  }

  .fs-sml {
    font-size: smaller !important;
  }

  /* main */
  .form-select {
    background-color: #fff;
    height: 3rem !important;
    font-size: medium;
    padding-top: 18px !important;
  }

  .label-fs {
    font-size: medium;
    padding-top: 8px !important;
  }

  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    .page-num {
      margin: 5px;
      cursor: pointer;
      border-radius: 3px;
      text-decoration: none;
      color: #746883;
    }
    .page-btn {
      padding: 8px 15px;
      cursor: pointer;
      border-radius: 3px;
      text-decoration: none;
      color: #746883;
      font-size: 16px;
    }
  }
  .pagination .active {
    font-weight: 600;
    color: #746883;
  }
}
