.sales-order-tabs {
  .nav:last-child {
    border-right: 1px solid #746883 !important;
  }
}

.sales-order-content {
  .input-group input {
    width: 60%;
  }
  .accordion-menu {
    background: #ced4da71;
    transition: 0.2s;
    max-height: 0;
    overflow: hidden;
  }

  .accordion-menu.active {
    transition: 0.5s;
    max-height: 1000PX;
  }
}
