// 更改sass變數 
$gray-100: #CED4DA ;
$gray-200: #96A3B0 ;
$gray-300: #6C757D ;
$gray-400: #343A40 ;


// 字型大小
$font-size-base:              1.15rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .89 !default;
$font-size-lg:                $font-size-base * 1.3 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;
$h7-font-size:                $font-size-base * .89 !default;
$h8-font-size:                $font-size-base * .7 !default;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
  8: $h8-font-size
) !default;


// input 效果
$component-active-bg:#746883 !default;
$input-bg:#F5F4F6;
$input-border-color:#B7B0BF;

// border
$border-radius:.225rem;

// 主題色
$theme-colors: (
  "info":       #33597A,
  "primary":    #F5F4F6,
  "primary-100":#B7B0BF,
  "primary-200":#988EA4,
  "primary-300":#746883,
  "info-dark":  #243F56,
  "danger":     #DA5260,
  "orange":     #FFFAF7,
  "white":      #fff,
  "grullo":     #F6F5F4,
  "gray-100":   $gray-100,
  "gray-200":   $gray-200,
  "gray-300":   $gray-300,
  "gray-400":   $gray-400,
) !default;








@import '~bootstrap/scss/bootstrap';

// 更改css樣式

// 字型
body{
  font-family: 'Noto Sans TC', sans-serif;
}

// btn additional
.btn-rect{
  border-radius: 0;
}
.btn-shadow{
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px #B7B0BF;
}
.btn-white{
  color: #746883 !important;
  border:1px solid #746883 !important;
}
.btn-white:hover{
  background: #F5F4F6 !important;
}

// input form-control
.form-control{
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px #B7B0BF;
}