/* slider */
.slider {
  height: 600px;
}

.slick-paging {
  width: 20px;
  height: 5px;
  background-color: hsla(210, 16%, 93%, 0.6);
}

.slick-active .slick-paging {
  background-color: hsl(0, 0%, 90%);
}

.slick-prev,
.slick-next {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
  width: 30px !important;
}

.slick-prev:before,
.slick-next:before {
  color: hsla(208, 7%, 46%, 0.5) !important;
  font-size: 30px !important;
}

@media screen and (max-width: 768px) {
  .slider {
    height: 300px;
  }

  .browse .slick-track {
    height: 280px;
  }
}

// 模板
.fs-sml {
  font-size: smaller !important;
}

.main {
  /* 模板 */
  .object-cover {
    object-fit: cover;
    object-position: center 80%;
    width: 100%;
    height: 100%;
  }

  /* main */
  .card {
    width: 15rem;
  }

  .card-shadow {
    box-shadow: 0px 4px 10px 2px #ced4da;
  }

  @media screen and (max-width: 768px) {
    .card {
      width: 9rem;
    }
    .card-body-category {
      height: 65px;
    }

    .card-title {
      font-size: smaller;
    }
    .card-text {
      font-size: smaller;
    }
    .explore-text {
      font-size: medium;
    }
    .browse-text {
      font-size: smaller;
    }
  }
}
