.used-product {
  .fs-sml {
    font-size: smaller !important;
  }
  .object-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .form-select {
    background-color: #fff;
    height: 3rem !important;
    font-size: medium;
    padding-top: 18px !important;
  }

  // 商品列表
  .usedProduts-body {
    .card {
      width: 15rem;
      transition: 0.4s;
    }

    .product-img {
      height: 12rem;
    }

    .card-shadow {
      box-shadow: 0px 4px 10px 0px #10385b1f;
    }

    .card-btn {
      position: absolute;
      bottom: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: 0.4s;
      border-radius: 0.225rem;
      transform: translateY(35px);

      button {
        opacity: 0;
      }
    }

    .card:hover {
      .card-btn {
        z-index: 2;
        opacity: 1;
        visibility: visible;

        button {
          opacity: 1;
        }
      }
    }
    .pagination {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      .page-num {
        margin: 5px;
        cursor: pointer;
        border-radius: 3px;
        text-decoration: none;
        color: #746883;
      }
      .page-btn {
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 3px;
        text-decoration: none;
        color: #746883;
        font-size: 16px;
      }
    }
    .pagination .active {
      font-weight: 600;
      color: #746883;
    }
  }
}
